<link 
href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" 
rel="stylesheet">

<style>
p{
font-family: '{{ .Site.Params.fontbody }}', sans-serif;
}
body {
font-family: '{{ .Site.Params.fontbody }}', sans-serif;
}
code {
font-family: '{{ .Site.Params.fontcode }}', sans-serif;
}
